.title      {width: 100%;
             display: inline-block;
             background-color: #102030;
             color: #E8F0F8;}

.tilesOuter {position: relative;
             width: 100%;
             height: 200px;
             text-align: center;}

.tilesInner {position: absolute;
             top: 50%;
             transform: translateX(-50%) translateY(-50%);
             display: inline-block;}

.tile       {transition: all 0.10s ease;
             display: inline-block;
             height: 120px;
             width: 120px;
             line-height: 120px;
             text-align: center;
             border-radius: 16px;}
.tile:hover {height: 160px;
             width: 160px;
             line-height: 160px;
             background-color: #FFFFFF40;}

.icon       {height: 80%;
             width: 80%;}

.lower      {position: relative;
             width: 80%;
             left: 10%;
             display: inline-block;}

.textbox    {margin: 24px;}

html        {background-color: #A0C0E0;}
body        {margin: 0;
             height: 100%;
             color: #103050;
             font-family: Comfortaa;}

a           {text-decoration: none;}
img         {display: inline-block;
             vertical-align: middle;
             line-height: normal;}
h1          {font-size: 32px;}
h2          {font-size: 18px;}
p           {font-size: 14px;
             line-height: 175%;
             text-indent: 32px;
             text-align: justify;}
